name: Scan Gitleaks

on: [push, pull_request]

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installer Gitleaks
        run: |
          curl -sSfL https://raw.githubusercontent.com/zricethezav/gitleaks/main/install.sh | bash

      - name: Scanner les secrets
        run: gitleaks detect --source=. --report-format=json --report-path=preuve/gitleaks_post.json
