name: Trivy Scan

on: [push, pull_request]

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installer Trivy
        run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.41.3_Linux-64bit.deb
          sudo dpkg -i trivy_0.41.3_Linux-64bit.deb

      - name: Scan du projet
        run: trivy fs . --severity HIGH,CRITICAL --exit-code 1 --format table
